.u-msp-g {
    font-family: "MS Pゴシック", "MS PGothic", sans-serif;
}

.u-biz-udp {
    font-family: "BIZ UDPGothic", "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
}

.u-kozuka {
	font-family: '小塚ゴシック Pro','Kozuka Gothic Pro',sans-serif;
}

.u-a-otf {
    font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
}