.flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.flex-center {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.flex-start {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.flex-end {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}
.flex-vertical {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}