.mt {
    margin-top: 60px;
    @include mq(lg) {
        margin-top: 40px;
    }
}

.mb {
    margin-bottom: 60px;
    @include mq(lg) {
        margin-bottom: 40px;
    }
}

.pt {
    padding-top: 60px;
    @include mq(lg) {
        padding-top: 40px;
    }
}

.pb {
    padding-bottom: 60px;
    @include mq(lg) {
        padding-bottom: 40px;
    }
}

.mt-half {
    margin-top: 25px;
    @include mq(lg) {
        margin-top: 15px;
    }
}

.mb-half {
    margin-bottom: 25px;
    @include mq(lg) {
        margin-bottom: 15px;
    }
}

.pt-half {
    padding-top: 25px;
    @include mq(lg) {
        padding-top: 15px;
    }
}

.pb-half {
    padding-bottom: 25px;
    @include mq(lg) {
        padding-bottom: 15px;
    }
}

.mt-x {
    margin-top: 100px;
}