.l-main {
    &__bg {
        .swiper-slide {
            img {
                width: 100%;
                height: 430px;
                object-fit: cover;
                object-position: 50% 80%;
            }
        }
    }
    &__bg-container {
        img {
            width: 100%;
            height: 430px;
            object-fit: cover;
            object-position: 50% 80%;
        }
    }
    &__copy {
        z-index: 500;
        max-width: 850px;
        width: 100%;
    }
    &__page-ttl {
        h2 {
            font-weight: normal!important;
        }
        z-index: 500;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        padding: 0 15px;
        display: block;
        font-size: 42px;
        white-space: nowrap;
        color: #fff;
        @include mq(lg) {
            font-size: 24px;
        }
        @include mq(sm) {
            font-size: 18px;
        }
        @include mq(xs) {
            font-size: 16px;
        }
        span {
            text-align: center;
            position: relative;
            -webkit-filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 1));
            -moz-filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 1));
            -ms-filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 1));
            filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 1));
            &.bb {
                &:after {
                    position: absolute;
                    background: #fff;
                    bottom: -10px;
                    left: 0;
                    width: 100%;
                    height: 4px;
                    border-radius: 10px;
                    content: '';
                }
            }
            &.sub {
                padding-top:20px;
                font-size: 24px;
                display: block;
                @include mq(lg) {
                    font-size: 18px;
                }
                @include mq(sm) {
                    font-size: 14px;
                }
            }
        }
    }
}

.l-main-nav {
    &__list {
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        padding: 0 15px;
        max-width: 800px;
        @include mq(lg) {
            flex-wrap: wrap;
            max-width: 400px;
            padding: 0;
        }
    }
    &__item {
        position: relative;
        font-size: 20px;
        padding: 0 20px;
        @include mq(lg) {
            width: calc(100% / 3);
            text-align: center;
            margin-bottom: 10px;
            font-size: 16px;
            padding: 0 10px;
        }
        @include mq(sm) {
            font-size: 14px;
        }
        &:last-child {
            padding-right: 0;
            &::after {
                display: none;
            }
        }
        &:first-child {
            padding-left: 0;
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 2px;
            background-color: #333;
            border-radius: 10px;
        }
        @include mq(lg) {
            &:nth-child(3) {
                &::after {
                    display: none;
                }
            }
        }
    }
}

.l-main-wxl {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding: 0 15px;
    &--no-padding {
        padding: 0;
    } 
}

.l-main-wl {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    padding: 0 15px;
    &--no-padding {
        padding: 0;
    } 
}

.l-main-wm {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding: 0 15px;
    &--no-padding {
        padding: 0;
    } 
}

.l-main-ws {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding: 0 15px;
    &--no-padding {
        padding: 0;
    } 
}

.l-main-preparation {
    margin: 150px 0;
    @include mq(lg) {
        margin: 100px 0;
    }
    h3 {
        font-size: 28px;
        @include mq(lg) {
            font-size: 20px;
        }
    }
    p {
        @include mq(lg) {
            font-size: 14px;
        }
    }
}