.p-product-cat {
    &__ttl {
        position: relative;
        padding: 15px 15px;
        background: $red;
        font-size: 24px;
        text-align: center;
        color: #fff;
        @include mq(lg) {
            font-size: 18px;
        }
    }
    &__all-link {
        position: absolute;
        top: 50%;
        left: 65px;
        transform: translateY(-50%);
        @include mq(lg) {
            left: 45px;
        }
        @include mq(sm) {
            left: 5%;
        }
    }
    &__list {
        padding: 50px 15px 0 15px;
        background: #e7e7e7;
    }
    &__list-inner {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }
    &__item {
        margin-bottom: 50px;
        padding-left: 50px;
        padding-right: 15px;
        width: calc(100% / 3);
        color: #1E2C59;
        @include mq(lg) {
            
            padding-left: 30px;
        }
        @include mq(sm) {
            margin-bottom: 30px;
            padding-left: 15px;
            width: 50%;
            &:nth-child(2n+1) {
                padding-left: 15px;
            }
            &:nth-child(2n) {
                padding-left: 0;
                padding-right: 0;
            }
        } 
    }
}

.p-product-type {
    &__list {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        margin: 0 30px 60px;
        width: calc((100% - 120px) / 3);
        &:nth-child(3n+1) {
            margin-left: 0;
        }
        &:nth-child(3n+3) {
            margin-right: 0;
        }
        @include mq(lg) {
            width: calc((100% - 30px) / 2);
            margin: 0 15px 30px;
            &:nth-child(3n+1) {
                margin: 0 15px 30px;
            }
            &:nth-child(3n+3) {
                margin: 0 15px 30px;
            }
            &:nth-child(2n+1) {
                margin-left: 0;
            }
            &:nth-child(2n) {
                margin-right: 0;
            }
        }
        @include mq(sm) {
            &:nth-child(3n+1) {
                margin: 0;
                margin-bottom: 15px;
            }
            &:nth-child(3n+3) {
                margin: 0;
                margin-bottom: 15px;
            }
            width: 100%;
            margin: 0;
            margin-bottom: 15px;
        }
    }
    &__ttl {
        margin: 0;
        padding: 15px;
        font-size: 16px;
        text-align: center;
        background: $red;
        color: #fff;
    }
    &__content {
        padding: 30px;
        background: #e7e7e7;

        p {
            margin: 0;
            @include mq(lg) {
                font-size: 14px;
            }
        }
    }
    &__expert {
        padding-top: 20px;
    }
}

.p-product-single {
    &__ttl {
        margin: 0;
        padding: 15px;
        background: $red;
        font-size: 24px;
        text-align: center;
        color: #fff;
        font-weight: normal;
        @include mq(lg) {
            font-size: 18px;
        }
    }
    &__content {
        padding: 30px;
        background: #e7e7e7;
        @include mq(lg) {
            padding: 15px;
        }
        p {
            line-height: 1.6;
        }
    }
}